{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/create_task.css' %}">
</head>
<body>
    
        {{error}}
    <form action="/tasks/create/" method="POST">
        {% csrf_token %}

        {{form}}

        <button>Guardar</button>

    </form>
    
</body>
</html>
{% endblock %}