{% extends 'base.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
  
  <!-- Carrusel -->
  <div class="carrusel">
      <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{%static 'img/Herramientas.jpg'%}" class="imagen" alt="Herramientas">
          </div>
          <div class="carousel-item">
            <img src="{%static 'img/Materiales.jpg'%}" class="imagen" alt="Materiales">
          </div>
          <div class="carousel-item">
            <img src="{%static 'img/Seguridad.jpg'%}" class="imagen" alt="Seguridad">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  
  <!-- Productos -->
  <br><br><br><br>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Productos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </li>
    </div>
  </nav>
  <br><br><br>



  <div class="card-group">
    <div class="card">
      {% for product in products %}
      <img src="{% static 'img/Taladro.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text"><small class="text-muted">{{ product.get_category_display }}</small></p>
        <p class="card-text"><small class="text-muted">${{ product.price }}</small></p>
      </div>
      {% endfor %}
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  
  
  
</body>
</html>
{% endblock %}